
/* Start with Css for form page */

input [type=text], input [type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(227, 132, 132);
    border-radis: 4px;
    box-sizing: border-box;
}

input [type=submit] {
    width: 100%;
    background-color: aquamarine;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input [type=submit]:hover {
    background-color: aquamarine;

}

#btn_add {
    padding: 5px 0px;
    text-align: right;
}

a:link, a:visited {
    background-color: rgb(31, 62, 77);
    color:white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}

a:hover, a:active {
    background-color: rgb(226, 239, 125);
}